*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    border:border-box;
    
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.nav-logo{
  height: 50px;
  width:100px;
}
.logo{
    background-image: url("Amazon-logo.jpg");
    height:50px;
    width:100%;
    background-size: cover;
}
.border:hover{
    border: 1px white solid;
    border-radius: 2px;
    padding: 2px;
    
}

.address1{
    margin-left: 17px;
    font-size: 0.8rem;
    color: #cccccc;
}
.address2{
    font-size: 1rem;

}
.add-icon{
    display: flex;
    align-items: center;

}
.nav-address{
    align-items: center;
}
.nav-address:hover{
    border: 1px white solid ;
    border-radius: 2px;
}
.remove_select_bar{
appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select-all{
    display :inline-flex;
    
}
.icon-color{
    color:grey;
    align-items: flex-end;
}
.nav-search{
    display: flex;
    width: 500px;
    height: 35px;
}
.search-box{
    width:100%;
    font-size: 1rem;
    border:0px solid white;
    border-radius: 0px;
}
.search-icon{
    align-items: center;
    width: 50PX;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: orange;
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ;
    border:none;

}
.search-category{
    width:50px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
    border:none;

}
.nav-country{
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background:none;
    color:white;
    border:none;
    display: inline-flex;
    align-items: flex-end;
}
.nav-country i{
    color:white;
}
.nav-signin{
    display :inline-flex;
    align-items: flex-end;
}
.nav-sigin i {
    font-size: 0.7em;
    color:grey;
}
.nav-cart{
    display: flex;
}
.nav2{
    display: flex;
    height:39px;
    background-color: #131921;
    color: #ffffff;
    align-items: center;
    gap: 10px;

}
.main{
    display: flex;
   
    background-image: url("b1.jpg");
    height: 400px;
    background-size: cover;
    width:100%;
    
}
.main-left{
    margin-left:0%;
    font-size: 3rem;
    margin-top: 90px;
}
.main-right{
    margin-left: 92%;
    font-size: 3rem;
    margin-top: 90px;
    
}
.amazon.in{
    left:0%;
    background-color: white;
    color: black;
    padding: 10px;
}
a{
    text-decoration: none;
}